<% layout('layouts/boilerplate') -%>
<div id="map" style="width: 90%; height: 400px"></div>
<div class="container">
  <h1>All campgrounds</h1>
  <span>
    <a href="/"> Home </a>
    ||
    <a href="/campgrounds/new"> Create New Campground </a>
  </span>
  <div class="container">
    <div class="row">
      <% for(let campground of campgrounds){%>
      <div class="col-md-4 my-2">
        <div class="card" style="width: 18rem">
          <img
            src="<%= campground.images[0].url %> "
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
              ><%= campground.title %></a
            >
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/javascripts/clusterMap.js"></script>
